<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form action="/decks/<%=cards.deck%>/cards/add-card" method="POST">
      <label for="title">Word</label>
      <input type="text" id="title" name="title" />
      <label for="meaning">Meaning</label>
      <input type="text" name="meaning" id="meaning" />
      <label for="example">Example</label>
      <input type="text" name="example" id="example" />
      <a href="/decks">Cancel</a>
      <button type="submit">Add</button>
    </form>
  </body>
</html>
